<ion-header class="pawa2_u_custom_header">
  <ion-toolbar class="pawa2_u_custom_toolbar">
    <ion-buttons slot="start">
      <ion-menu-button class="ion_menu_btn pawa2_u_menu_button"></ion-menu-button>
    </ion-buttons>
    <ion-title class="pawa2_u_menu_title">
      <div class="paw2u_header_menu" (click)="gotoHome()">
        Mark Riders
      </div>
    </ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="notification()"> 
          <ion-icon class="colorise_menu_icon" slot="icon-only" name="notifications-outline"></ion-icon> 
          <ion-badge *ngIf="NotificationList !== undefined" class="style_notification_badge" color="danger" slot="end">{{NotificationList.length}}</ion-badge>
        </ion-button>
        <!-- <ion-button (click)="cart()"> 
          <ion-icon class="colorise_menu_icon" slot="icon-only" name="cart-outline"></ion-icon> 
          <ion-badge class="style_notification_badge" color="danger" slot="end">2</ion-badge>
        </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-searchbar showCancelButton="never"  animated="true" (ionChange)="focusesInput()" class="the_search_bar" showCancelButton="never" placeholder="Search Product">
  </ion-searchbar> -->
 
</ion-header>