<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="pawa2_transparent_header">
        Add address
      </div>
    </ion-title>
  </ion-toolbar>
  <div class="small_ribbon"></div>
</ion-header>

<ion-content class="ion-padding gray_background">
  <div class="content_padded">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-input class="the_form_input" placeholder="Enter Address" ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
