.order_ff_dialog_text_2 {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 300;
}

.order_ff_dialog.ion-text-center {
    padding: 50px 20px;
    border-top: 5px solid #DAC67B;
}


.order_ff_dialog_text_1 {
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}

.order_ff_dialog_inner_action {
    margin-top: 20px;
}

ion-button.order_dispte_btn_action {
    width: 188px;
    font-size: 12px;
    color: #707070;
    --background: transparent;
    border: 1px solid #707070;
    border-radius: 5px;
    --box-shadow: none;
    font-weight: 300;
    text-transform: none;
}

.order_dispute_dialog_inner_svg {
    margin-bottom: 20px;
}

.order_ff_dialog_inner_svg {
    margin-bottom: 40px;
}