<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center ion-no-border">
    <ion-buttons slot="start" class="back-btn">
      <ion-back-button defaultHref="/dashboard/checkout"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="pawa2_transparent_header">
        Edit item
      </div>
    </ion-title>
  </ion-toolbar>
  <div class="small_ribbon"></div>
</ion-header>

<ion-content class="ion-padding gray_background">
  <div class="content_padded">
    <ion-grid>
      <ion-row class="the_address_row_handle">
        <ion-col size="12">
          <div class="header_style_3 mt-15">
            Enter Item Details
          </div>
        </ion-col>
        <div class="wallet_transaction_recrods">
          <div class="handle_address_border">
            <ion-row>
              <ion-col>
                <p class="address-p">Sender Address</p>
                <ion-item mode="md">
                  <!-- <ion-label position="floating" mode="md">Drop off address</ion-label> -->
                  <!-- <ion-input mode="md"></ion-input> -->
                 
                  <input type="text" class="form-control auto-input" [(ngModel)]="EditItem.baseLocation.address" (click)="senderAutocomplete()" placeholder="Pick up address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #senderSearch>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <p class="address-p">Receiver Address</p>
                <ion-item mode="md">
                  <!-- <ion-label position="floating" mode="md">Drop off address</ion-label> -->
                  <!-- <ion-input mode="md"></ion-input> -->
                  <input type="text" class="form-control auto-input" [(ngModel)]="EditItem.targetLocation.address" (click)="receiverAutocomplete()" placeholder="Drop off address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #receiverSearch>
                </ion-item>
              </ion-col>
            </ion-row>
           <ion-row>
             <ion-col size="4" class="the_address_row_handle">
              <input type="file" class="file-upload2" (change)="onFileChanged($event)">
              <div id="TheImageContents"></div>
              <img src="{{EditItem.imageUrl}}" *ngIf="Image == undefined" style="width: 70px;">
             </ion-col>
            <ion-col size="7">
              <ion-list>
                <ion-item mode="md">
                  <!-- <ion-icon name="gift" slot="start" mode="md"></ion-icon> -->
                  <ion-label position="floating" mode="md">Item to be delivered</ion-label>
                  <ion-input placeholder="A pair of shoe" [(ngModel)]="EditItem.pickUpItems" mode="md"></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          <!-- <ion-col size="1">
            <button class="trash-icon">
              <ion-icon name="trash-outline"></ion-icon>
            </button>
          </ion-col> -->
           </ion-row>
          </div>
        </div>

      </ion-row>
    </ion-grid>
  </div>

    <ion-button (click)="UpdateItem()" class="pawa2_u_action_btn_2">
       Update
    </ion-button>
</ion-content>
