<app-header-two [title]="'Checkout'"></app-header-two>
<ion-content>

  <div class="">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="wallet_transaction_recrods" *ngFor="let item of deliveryObj">
            <div class="the_wallet_item_list">
              <ion-row>
                <ion-col size="10">
                  <div class="wallet_transaction_ref_date">
                    Pick-up Address
                  </div>
                  <div class="wallet_transaction_ref_date_2">
                    {{item.baseLocation.address}}
                  </div>
                </ion-col>
                <!-- *ngIf="deliveryObj.length > 1"  -->
            
                <ion-col size="1">
                  <button (click)="editItem(item)" class="edit-icon">
                    <ion-icon name="create-outline"></ion-icon>
                  </button>
                </ion-col>
                <ion-col size="1" (click)="deleteItem(item)">
                  <button class="trash-icon">
                    <ion-icon name="trash-outline"></ion-icon>
                  </button>
              </ion-col>
                <ion-col size="12">
                  <div class="wallet_transaction_ref_date">
                    Drop-off Address
                  </div>
                  <div class="wallet_transaction_ref_date_2">
                    {{item.targetLocation.address}}
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="4">
                  <!-- <ion-img src="item.imageUrl"></ion-img> -->
                  <img [src]="item.imageUrl" >
                </ion-col>
                
                <ion-col size="6">
                  <div class="checkout_item_text_1">
                  {{item.pickUpItems}}
                  </div>      
                </ion-col>

              <!-- <ion-col size="2">
                <button (click)="editItem(item)" class="edit-icon">
                  <ion-icon name="create-outline"></ion-icon>
                </button>
              </ion-col> -->
                
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>  

<div class="ion-activable ripple-parent" *ngIf="firstItemList.deliveryTpe == 2 && createshipmentstatus == false">
  <ion-row>
    <ion-col size="1"></ion-col>
   <ion-col size="4">
    <ion-fab-button color="#ffa500">
      <ion-icon (click)="addAddress()"  name="add"></ion-icon>
    </ion-fab-button>
   </ion-col>
   <ion-col>
    <p>Click to add more addresses and item</p>
    <!-- <a (click)="addresslist()">View address list</a> -->
   </ion-col>
  </ion-row>

</div>

<div class="ion-activable ripple-parent" *ngIf="firstItemList.deliveryTpe == 1 && createshipmentstatus == false">
  <ion-row>
    <ion-col size="1"></ion-col>
   <ion-col size="4">
    <ion-fab-button color="#ffa500">
      <ion-icon (click)="addItem()"  name="add"></ion-icon>
    </ion-fab-button>
   </ion-col>
   <ion-col>
    <p>Click to add more item</p>
   </ion-col>
  </ion-row>
</div>

<ion-footer class="no-border ion-no-border">
  <div class="checkout_footer_design">
    <div class="check_footer_design_inner">
      <div class="checkout_page_inner_2">

        <ion-row>
          <ion-col size="6">
            <div class="checkout_total_text">
              Wallet Balance :
            </div>
          </ion-col>

          <ion-col size="6" class="ion-text-center">
            <div class="checkout_total_price">
              &#8358;{{walletBalance | number}}
            </div>
          </ion-col>
        </ion-row>

      </div>

      <div class="checkout_page_inner_2">

        <ion-row>
          <ion-col size="6" >
            <div class="checkout_total_text">
              Total : 
            </div>
          </ion-col>

           <ion-col size="6" class="ion-text-center" *ngIf="createshipmentstatus == true">
            <div class="checkout_total_price">
              &#8358;{{returnedObj.totalAmount | number}}
            </div>
          </ion-col> 


        </ion-row>

      </div>


      <ion-grid>
        <ion-row>

          <ion-col size="12">
            <div class="checkout_action_section">
              <ion-row>
                <!-- <ion-col size="12" class="ion-text-center">
                  <div class="checkout_action_section_text">
                    Pay With
                  </div>
                </ion-col> -->

              

                <ion-col size="12" *ngIf="createshipmentstatus == false">
                  <ion-button (click)="disclaimerAlert()" class="pawa2_u_action_btn_2 gold">
                      Create Delivery
                  </ion-button>
                </ion-col>

                <ion-col size="12" *ngIf="createshipmentstatus == true">
                    <p class="checkout_total_text">Distance: {{returnedObj.distance}} KM</p>
                    <p class="checkout_total_text">Max size: 34cm × 18cm × 32cm </p>
                    <p class="checkout_total_text">Max weight: 5KG </p>
                </ion-col>

                <ion-col size="12" *ngIf="createshipmentstatus == true && returnedObj !== undefined">
                  <div class="pawa2_u_checkout_btn_actions">
                      <ion-button  (click)="payWithPaystack()" class="pawa2_u_action_btn_2">
                        Pay with Card
                      </ion-button>
                    <ion-button (click)="paywithWallet()" *ngIf="returnedObj.totalAmount <= walletBalance" class="pawa2_u_action_btn_2 gold">
                      Pay with Wallet
                    </ion-button>
                    <ion-button (click)="payWithTransfer()" class="pawa2_u_action_btn_2 gold">
                      Transfer
                    </ion-button>
                  </div>
                </ion-col>
                <!-- *ngIf="createshipmentstatus == true && returnedObj && returnedObj.totalAmount >= walletBalance"  -->
              </ion-row>
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-footer>
</ion-content>