<ion-header class="paw2_login_header_ctr">
  <!-- <ion-toolbar> -->
      <div class="control_login_logo">
        <img src="../../../assets/images/macriders/macreider_logo.png">
      </div>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="ion_card_style">
    <ion-card-content>
      <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <ion-item mode="md">
          <ion-icon name="mail-outline" slot="start" mode="md"></ion-icon>
          <ion-label position="floating" mode="md">Email</ion-label>
          <ion-input formControlName="email" mode="md"></ion-input>
        </ion-item>
        
        <div class="validate_input" *ngIf="f.email.touched || f.email.invalid && submitted" >
          <div *ngIf="f.email.errors?.required"> Email is required</div>
          <div *ngIf="f.password.errors?.email">Please enter a valid email address</div>
        </div>



        <ion-item  mode="md">
          <ion-icon name="key-outline" slot="start"  mode="md"></ion-icon>
          <ion-label position="floating"  mode="md">Password</ion-label>
          <ion-input type="password" formControlName="password" mode="md"></ion-input>
        </ion-item>
        
        <div class="validate_input" *ngIf="f.password.touched || f.password.invalid && submitted">
          <div *ngIf="f.password.errors?.required">Password is required</div>
        </div>


        <div (click)="gotoPasswordReset()" class="ion-text-center mt-35 mb-25 pawa2u_default_color small_styled">
          Forgot Password ?
        </div>
        <!-- <div (click)="showNetworkModal()" class="ion-text-center mt-35 mb-25 pawa2u_default_color small_styled">
          Show Network Modal
        </div> -->

        <ion-button type="submit" expand="block" size="large" class="pawa2u_btn btn_capitalize thin_font_weight small_sized_btn">
          Login
        </ion-button>  
        
      <!-- <ion-button [disabled]="formData.invalid" type="submit" expand="block" size="large" class="pawa2u_btn btn_capitalize thin_font_weight small_sized_btn">
        Login
      </ion-button> -->

      
      </form>

      <p class="account-p" (click)="gotoSignup()">Don't have an account?<span class="signup-link"> &nbsp;Sign Up</span></p>  

      <!-- <ion-button (click)="gotoSignup()" expand="block" size="large" class="pawa2u_btn btn_capitalize thin_font_weight small_sized_btn mt-15">
        Create account
      </ion-button> -->
    
    </ion-card-content>
  </div>
</ion-content>
