
<app-header></app-header>
<ion-content class="ion-no-padding gray_background">
  <div class="content_padded">
    <ion-grid>
      <form [formGroup]="formData"  (ngSubmit)="onSubmit()">
        <ion-row *ngFor="let item of itemList">
          <ion-col size="12">
            <!-- <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.9368487402803!2d3.3929456146558845!3d6.529660495277045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8d194b40e58d%3A0x325f824343149d63!2sAjileye%20St%2C%20Akoka%2C%20Lagos!5e0!3m2!1sen!2sng!4v1614848072080!5m2!1sen!2sng" width="390" height="130" style="border:0; width: 100%" allowfullscreen="" loading="lazy"></iframe>
            </div> -->

            <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                ></agm-marker>
            </agm-map> -->

            <agm-map [latitude]="latitude" [longitude]="longitude">
              <agm-marker  *ngFor="let data of locations; let i = index"
              [latitude]="data.lat" [longitude]="data.lng" [label]="data.label" >
              <agm-info-window>
                <strong>Label: {{data.label}}</strong><br/>
              </agm-info-window>
              </agm-marker>
              <agm-direction [origin]="origin" [destination]="destination"
              [renderOptions]="renderOptions" 
              ></agm-direction>
           
            </agm-map>
           
          </ion-col>
          <div id="map"></div>
          <!-- <ion-col size="12">
            <div id="map"></div>
          </ion-col> -->
          <ion-col size="12">
            <ion-select formControlName="deliveryTpe" placeholder="Select Shipment Type" [(ngModel)]="item.deliveryTpe" class="mark-drop-down">
              <ion-select-option [value]=1>Single Shipment</ion-select-option>
              <ion-select-option [value]=2>Multiple Shipment</ion-select-option>
              <ion-select-option (click)="notAvailable()" [disabled]="true" value="">Cargo</ion-select-option>
              <ion-select-option (click)="notAvailable()" [disabled]="true" class="not-available" value="">Inter-state</ion-select-option>
            </ion-select>
          </ion-col> 
          <div class="validate_input" *ngIf="f.deliveryTpe.touched || f.deliveryTpe.invalid && submitted">
            <div *ngIf="f.deliveryTpe.errors?.required">Delivery Type  is required</div>
            <div *ngIf="f.deliveryTpe.errors?.pattern">Delivery Type  is required</div>
          </div> 
          <ion-col size="12">
            <div class="wallet_transaction_recrods">
              <!-- <div class="the_wallet_item_list ion-activatable ripple-parent">
                <ion-row>
                  <ion-col>
                    <div class="wallet_transaction_ref_date">
                      <span class="compliment">Nice to see you</span>
                      <h5>How may we serve you ?</h5>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
              </div> -->
  
  
              <div class="wallet_transaction_recrods">
                <div class="the_wallet_item_list ion-activable ripple-parent">
                  <ion-row>
                    <ion-col>
                      <ion-item mode="md">
                        <ion-icon name="location-outline" slot="start" mode="md"></ion-icon>
                        <!-- <ion-label position="floating" mode="md">Pick up address</ion-label> -->
                        <!-- <ion-input mode="md"></ion-input> -->
                        <input type="text" class="form-control auto-input" formControlName="baseLocation" (click)="senderAutocomplete()" placeholder="Pick up address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #senderSearch>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <div class="validate_input" *ngIf="f.baseLocation.touched || f.baseLocation.invalid && submitted">
                    <div *ngIf="f.baseLocation.errors?.required">Pick up Adress is required</div>
                  </div> 
                 <ion-row>
                  <ion-col>
                    <ion-item mode="md">
                      <ion-icon name="call" slot="start" mode="md"></ion-icon>
                      <ion-label position="floating" mode="md">Pick up Phone number</ion-label>
                      <ion-input placeholder="+234-" mode="md" formControlName="pickUpPhone" [(ngModel)]="item.pickUpPhone" ></ion-input>
                    </ion-item>
                  </ion-col>
                 </ion-row>
                 <div class="validate_input" *ngIf="f.pickUpPhone.touched || f.pickUpPhone.invalid && submitted">
                  <div *ngIf="f.pickUpPhone.errors?.required">Pickup Number is required</div>
                </div> 
                </div>
              </div>
  
              <div class="wallet_transaction_recrods">
                <div class="the_wallet_item_list ion-activable ripple-parent">
                  <ion-row>
                    <ion-col>
                      <ion-item mode="md">
                        <ion-icon name="location-outline" slot="start" mode="md"></ion-icon>
                        <!-- <ion-label position="floating" mode="md">Drop off address</ion-label> -->
                        <!-- <ion-input mode="md"></ion-input> -->
                        <input type="text" class="form-control auto-input"  formControlName="targetLocation" (click)="receiverAutocomplete()" placeholder="Drop off address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #receiverSearch>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <div class="validate_input" *ngIf="f.targetLocation.touched || f.targetLocation.invalid && submitted">
                    <div *ngIf="f.targetLocation.errors?.required">Pickup Number is required</div>
                  </div> 

                  <ion-row>
                    <ion-col>
                      <ion-item mode="md">
                        <ion-icon name="call" slot="start" mode="md"></ion-icon>
                        <ion-label position="floating" mode="md">Drop off Phone number</ion-label>
                        <ion-input placeholder="+234-" formControlName="dropOffPhone" [(ngModel)]="item.dropOffPhone" mode="md"></ion-input>
                      </ion-item>
                    </ion-col>
                   </ion-row>

                   <div class="validate_input" *ngIf="f.dropOffPhone.touched || f.dropOffPhone.invalid && submitted">
                    <div *ngIf="f.dropOffPhone.errors?.required">Dropoff Number is required</div>
                  </div> 
                </div>
              </div>
  
              <div class="wallet_transaction_recrods">
                <div class="item_list ion-activable ripple-parent">
                 <ion-row>
                   <ion-col size="4">
                    <input type="file" class="file-upload2" formControlName="imageUrl"  (change)="onFileChanged($event)">
                    <div id="TheImageContents"></div>
                    <img src="assets/images/no-image.png" *ngIf="Image == undefined" style="width: 70px;">
                    <!-- <img [src]="item.imageUrl" *ngIf="Image !== undefined" style="width: 70px;"> -->
                   </ion-col>
                  <ion-col size="7">
                    <ion-list>
                      <ion-item mode="md">
                        <!-- <ion-icon name="gift" slot="start" mode="md"></ion-icon> -->
                        <ion-label position="floating" mode="md">Item to be delivered</ion-label>
                        <ion-input placeholder="A pair of shoe" type="text" formControlName="pickUpItems" [(ngModel)]="item.pickUpItems" mode="md"></ion-input>
                      </ion-item>

                  
                    </ion-list>
                  </ion-col>
                <!-- <ion-col size="1">
                  <button class="trash-icon">
                    <ion-icon name="trash-outline"></ion-icon>
                  </button>
                </ion-col> -->
                 </ion-row>


               
                </div>
              </div>
              <div class="validate_input" *ngIf="f.imageUrl.touched || f.imageUrl.invalid && submitted">
                <div *ngIf="f.imageUrl.errors?.required">Image is required</div>
              </div>
              <div class="validate_input" *ngIf="f.pickUpItems.touched || f.pickUpItems.invalid && submitted">
                <div *ngIf="f.pickUpItems.errors?.required">Item name is required</div>
              </div> 
            
              <div *ngIf="bulkdelivery" class="wallet_transaction_recrods">
                <div class="the_wallet_item_list ion-activable ripple-parent">
                  <ion-row>
                    <ion-col>
                      <ion-item mode="md">
                        <ion-icon name="location-outline" slot="start" mode="md"></ion-icon>
                        <ion-label position="floating" mode="md">Drop off address</ion-label>
                        <ion-input mode="md"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item mode="md">
                        <ion-icon name="call" slot="start" mode="md"></ion-icon>
                        <ion-label position="floating" mode="md">Drop off Phone number</ion-label>
                        <ion-input placeholder="+234-" mode="md"></ion-input>
                      </ion-item>
                    </ion-col>
                   </ion-row>
                </div>
                
                <div class="the_wallet_item_list ion-activable ripple-parent">
                  <ion-row>
                   <ion-col size="5">
                    <ion-fab-button color="#ffa500">
                      <ion-icon (click)="addAddress()" class="add-address" name="add"></ion-icon>
                    </ion-fab-button>
                   </ion-col>
                   <ion-col>
                    <p>Click to add more addresses</p>
                    <a (click)="addresslist()">View address list</a>
                   </ion-col>
                  </ion-row>
  
                </div>
              </div>
              <div class="wallet_transaction_recrods">
                <div class="the_wallet_item_list2 ion-activable ripple-parent">
                  <ion-row>
                    <ion-list>
                      <ion-radio-group formControlName="deliveryTime" [(ngModel)]="item.deliveryTime">
                        <ion-item class="deliveryTime">
                          <ion-label class="timeLabel" >Right Away</ion-label>
                          <ion-radio mode="md"  slot="start" color="success" [value]=1 ></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label class="timeLabel" >Schedule for later</ion-label>
                          <ion-radio mode="md"  slot="start" color="success" [value]=2 (click)="scheduled()"></ion-radio>
                        </ion-item>
                      </ion-radio-group>
                    </ion-list>
                  </ion-row>
                </div>
              </div>
              <div class="validate_input" *ngIf="f.deliveryTime.touched || f.deliveryTime.invalid && submitted">
                <div *ngIf="f.deliveryTime.errors?.required">Delivery Type  is required</div>
              </div> 

              <div *ngIf="isscheduled" class="wallet_transaction_recrods">
                <div class="the_wallet_item_list ion-activable ripple-parent">
                 
                  <ion-row>
                    <ion-col >
                      <ion-item mode="md">
                       
                        <ion-label position="floating" mode="md">Delivery Date</ion-label>
                        <ion-datetime display-timezone="utc"></ion-datetime>
                       
                      </ion-item>
                    </ion-col>
                   </ion-row>
                </div>
              </div>
              <div class="wallet_transaction_recrods">
                <div class="the_wallet_item_list ion-activable ripple-parent">
                 
                   <ion-row>
                    <ion-col>
                      <!-- <ion-radio-group value="grape" formControlName="carrier">

                      </ion-radio-group> -->
                      <div> 
                        <img src="assets/images/macriders/m2.png" class="mark-carriers"  (click)="getCarrier(1)"  >
                        <input type="hidden" formControlName="carriers">
                    </div>
                    </ion-col>
                    <ion-col >
                          <img src="assets/images/macriders/m3.png" class="mark-carriers2"  (click)="notAvailableModal()"  >
                          <input type="hidden" disabled formControlName="carriers">
                    </ion-col>
                    <ion-col>
                          <img src="assets/images/macriders/m1.png" class="mark-carriers2" (click)="notAvailableModal()"  >
                          <input type="hidden" disabled formControlName="carriers">
                    </ion-col>
                  </ion-row>
                  <div class="validate_input" *ngIf="f.carriers.touched || f.carriers.invalid && submitted">
                    <div *ngIf="f.carriers.errors?.required">Carriers is required</div>
                    <div *ngIf="f.carriers.errors?.pattern">Carriers is required</div>
                  </div> 
                  <!-- <div class="validate_input" *ngIf="f.carriers.touched || f.carriers.invalid && submitted">
                    <div *ngIf="f.carriers.errors?.required">Carrier is required</div>
                  </div> -->
                </div>
              </div>
              <ion-button type="submit" expand="block" size="large" class="pawa2u_btn btn_capitalize thin_font_weight small_sized_btn mt-15">
                Proceed
              </ion-button>
            </div>
  
            <!-- <div (click)="orderdetails()" class="wallet_transaction_recrods ion-activatable ripple-parent">
              <div class="the_wallet_item_list ion-activatable ripple-parent">
                <ion-row>
                  <ion-col size="2">
                    <div class="wallet_transaction_ref_date">
                      14 Apr
                    </div>
                  </ion-col>
                  <ion-col size="6">
                    <div class="wallet_transaction_ref_number">
                      #PA-23782393
                    </div>
                    <div class="wallet_transaction_status_text">
                      Successful
                    </div>
                  </ion-col>
                  <ion-col size="4" class="ion-text-right">
                    <div class="wallet_transaction_amount">
                      N10000
                    </div>
                    <div class="wallet_transaction_amount_type_text">
                      Credit
                    </div>
                  </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </div> -->
  
            <!-- <div (click)="orderdetails()" class="wallet_transaction_recrods ion-activatable ripple-parent">
              <div class="the_wallet_item_list ion-activatable ripple-parent">
                <ion-row>
                  <ion-col size="2">
                    <div class="wallet_transaction_ref_date">
                      14 Apr
                    </div>
                  </ion-col>
                  <ion-col size="6">
                    <div class="wallet_transaction_ref_number">
                      #PA-23782393
                    </div>
                    <div class="wallet_transaction_status_text">
                      Successful
                    </div>
                  </ion-col>
                  <ion-col size="4" class="ion-text-right">
                    <div class="wallet_transaction_amount">
                      N10000
                    </div>
                    <div class="wallet_transaction_amount_type_text">
                      Credit
                    </div>
                  </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </div> -->
          </ion-col>
  
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>
