ion-button.pawa2_u_action_btn_2 {
  width: 100%;
  --background: #0a1857;
  text-transform: capitalize;
  --padding-top: 19px;
  --padding-bottom: 19px;
}

ion-button.gold {
  --background: #dac67b;
}

.wallet_style_inner ion-icon {
  font-size: 91px;
  color: #707070;
}

.ion-text-center.wallet_text_2 {
  font-size: 12px;
  margin-top: 20px;
}

.wallet_style_inner {
  text-align: center;
}

.handle_fund_wallet_padd {
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 50px;
}

.fund_histroy {
  margin-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  color: #707070;
  font-weight: 400;
}

.wallet_transaction_ref_date {
  font-size: 14px;
  text-align: center;
  color: #707070;
}

.wallet_transaction_ref_number {
  font-size: 14px;
  color: #707070;
  margin-bottom: 5px;
  margin-left: 20px;
}

.wallet_transaction_status_text {
  font-size: 11px;
  color: #0a1857;
  margin-left: 20px;
}

.wallet_transaction_amount {
  font-size: 15px;
  color: #707070;
  margin-bottom: 5px;
}

.wallet_transaction_amount_type_text {
  font-size: 11px;
  color: #07594b;
}

.the_wallet_item_list {
  padding: 20px 20px;
  border: 1px solid #eae7e7;
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
}

.the_wallet_item_list2 {
  // padding: 20px 20px;
  border: 1px solid #eae7e7;
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 10px;
}

.timeLabel{
  font-size: 12px !important;
}

.has_fund_in_wallet.ion-text-center {
  margin-top: 50px;
}

.wallet_fund_title {
  font-size: 19px;
  color: #707070;
  margin-bottom: 10px;
}

.wallet_fund_available_balance {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: 500;
}

.wallet_fund_available_balance_text2 {
  font-size: 12px;
  color: #707070;
  margin-bottom: 30px;
}

.has_fund_in_wallet.ion-text-center {
  margin-top: 70px;
  margin-bottom: 40px;
}

.category_list_style_inner_bg {
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.category_list_style_name {
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 120px;
  font-weight: 400;
  color: #fff;
}

.category_list_style_inner {
  position: relative;
}

a.category_list_style_inner {
  display: block;
}

ion-grid {
  padding: 0;
}
.mark-drop-down {
  background-color: white;
  color: black !important;
  padding: 20px;
  border: 1px solid rgb(185, 183, 183)
}
.compliment {
  font-style: italic;
  font-size: 0.8rem;
  color: black;
}
.item-highlight,
.item-inner-highlight {
  color: #ffa500;
}
.mark-carriers {
  border-radius: 50%;
  background: #ffa500;
  cursor: pointer;
  width: 60px;
  height: 60px;
  // margin-left: 15px;
}

.mark-carriers2 {
  border-radius: 50%;
  background: #ffa500;
  cursor: not-allowed;
  width: 60px;
  height: 60px;
  // margin-left: 15px;
}
.mark-carriers:hover {
  background-color: #bd7c03;
}
.not-available {
  color: darkgrey;
}
.icon-add {
  background-color: #ffa500;
}
.add-address {
  color: #ffa500;
}

ion-radio-group {
  --color-checked: #ffa500;
  --color: #ffa500;
  display: flex;
  border: none !important;
  margin-left: 5px;
}

ion-radio {
  margin-right: 10px;
}

ion-radio-group ion-item {
  border-bottom: 1px solid #fff !important;
}
.file-upload {
  width: 50px;
  margin-top: 7px;
  position: absolute;
  opacity: 0;
}

ion-select {
  --placeholder-color: black;
  --placeholder-opacity : 1;
}

.item_list {
  padding: 20px 20px;
  border: 1px solid #eae7e7;
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 100px;
  overflow: scroll;
}
.trash-icon {
  color: red;
  font-weight: 700;
  background-color: transparent;
  font-size: 14px;
}
agm-map {
  height: 300px;
}

.auto-input {
  width: 100%; 
  height: 45px;
  border: none;
}

.file-upload2 {
  margin-top: 20px;
    position: absolute;
    width: 80px;
    opacity: 0;
}
  // width: 30px;
  // margin-top: 7px;
  // opacity: 0;

  #map {
    height: 300px;
  }

  ion-item.deliveryTime {
    --padding: 4px;
  }

  ion-label {
    --font-size: 5px;
    --color: red;
  }