<ion-content class="ion-padding gray_background">
  <div class="content_padded">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="fund_wallet_zone2">
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none" class="ion-no-border no-bg style_input no-padding">
                  <ion-label position="stacked">Enter Address</ion-label>
                  <input   class="style_payment_input">
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="fund_wallet_zone2">
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none" class="ion-no-border no-bg style_input no-padding">
                  <ion-label position="stacked">Enter Phone number</ion-label>
                  <input   class="style_payment_input">
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      
        <ion-col size="12">
          <div class="pawa2_u_checkout_btn_actions">
            <ion-button (click)="addAddress()" class="pawa2_u_action_btn_2">
             Add Address
            </ion-button>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>


