<app-header-two [title]="''"></app-header-two>

<ion-content class="ion-no-padding gray_background_2">
  <ion-grid>
   
    <ion-row>
       
    <ion-col size="9">
      <div class="product_intro_category_name">
        Solar Panels
      </div>
      <div class="product_intro_category_name_light">
        Sunlight energy to electricity
      </div>
    </ion-col>
    <ion-col size="3" class="ion-text-right">
      <ion-icon class="icon_top" name="filter-outline"></ion-icon>
    </ion-col>


      <ion-col size="6">
        <div class="category_product_list_inner">
          <ion-button class="category_product_add_to_cat">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <div class="category_product_image" style="
            background-image: url('../../../assets/images/solor_image_1.png');
            width: 100%;
            height: 132px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          ">
          </div>
          <a [routerLink]="['/dashboard/product-single/1', 'diesel', '20']" class="product_title_name">
            280W 24V solar panel
          </a>
          <div class="product_seller_name">
            by Auxano 
          </div>
          <div class="product_price">
            N180,000
          </div>
        </div>
      </ion-col>
     
      <ion-col size="6">
        <div class="category_product_list_inner">
          <ion-button class="category_product_add_to_cat">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <div class="category_product_image" style="
            background-image: url('../../../assets/images/solar_image_2.png');
            width: 100%;
            height: 132px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          ">
          </div>
          <a [routerLink]="['/dashboard/product-single/2', 'diesel', '20']" class="product_title_name">
            300W 24V solar panel
          </a>
          <div class="product_seller_name">
            by Generic
          </div>
          <div class="product_price">
            N250,000
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="category_product_list_inner">
          <ion-button class="category_product_add_to_cat">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <div class="category_product_image" style="
            background-image: url('../../../assets/images/solor_image_1.png');
            width: 100%;
            height: 132px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          ">
          </div>
          <a [routerLink]="['/dashboard/product-single/1', 'diesel', '20']" class="product_title_name">
            30W 24V solar panel
          </a>
          <div class="product_seller_name">
            150W 12V solar panel
          </div>
          <div class="product_price">
            N250,000
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="category_product_list_inner">
          <ion-button class="category_product_add_to_cat">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <div class="category_product_image" style="
            background-image: url('../../../assets/images/solar_image_2.png');
            width: 100%;
            height: 132px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          ">
          </div>
          <a [routerLink]="['/dashboard/product-single/1', 'diesel', '20']" class="product_title_name">
            30W 24V solar panel
          </a>
          <div class="product_seller_name">
            by unknown
          </div>
          <div class="product_price">
            N250,000
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="category_product_list_inner">
          <ion-button class="category_product_add_to_cat">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <div class="category_product_image" style="
            background-image: url('../../../assets/images/solor_image_1.png');
            width: 100%;
            height: 132px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          ">
          </div>
          <a [routerLink]="['/dashboard/product-single/1', 'diesel', '20']" class="product_title_name">
            30W 24V solar panel
          </a>
          <div class="product_seller_name">
            by Amazon
          </div>
          <div class="product_price">
            N250,000
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="category_product_list_inner">
          <ion-button class="category_product_add_to_cat">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <div class="category_product_image" style="
            background-image: url('../../../assets/images/solor_image_1.png');
            width: 100%;
            height: 132px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          ">
          </div>
          <div class="product_title_name">
            30W 24V solar panel
          </div>
          <div class="product_seller_name">
            by samsung
          </div>
          <div class="product_price">
            N250,000
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="category_product_list_inner">
          <ion-button class="category_product_add_to_cat">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <div class="category_product_image" style="
            background-image: url('../../../assets/images/solor_image_1.png');
            width: 100%;
            height: 132px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          ">
          </div>
          <div class="product_title_name">
            30W 24V solar panel
          </div>
          <div class="product_seller_name">
            by oziri
          </div>
          <div class="product_price">
            N250,000
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>