<app-header-two [title]="'Tracking Order'"></app-header-two>

<ion-content class="ion-no-padding gray_background">
  <div class="content_padded">
  
    <div class="tracking_order_details_box">
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <div class="tracking_order_details_box_inner">
              <div class="tracking_order_details_title">
                <ion-icon class="control_small_ic" name="location-outline"></ion-icon> To 12 Atanda kofo street, 
                Gbagada, Lagos.
              </div>
              <div class="tracking_order_details_time">
                <ion-icon class="control_small_ic" name="time-outline"></ion-icon> Arrival time: 9:56 AM
              </div>
              <div class="tracking_order_details_phone">
                <ion-icon class="control_small_ic" name="call-outline"></ion-icon> +234 8067921964
              </div>
            </div>
          </ion-col>
          <ion-col size="3">
            <ion-button class="tracking_order_details_btn">
              <ion-icon class="tracking_order_details_btn_icon" name="call-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </div>
  </div>
</ion-content>