<app-header-two [title]="'Wallet'"></app-header-two>

<ion-content class="ion-no-padding gray_background">
  <div class="">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <!-- <div class="no_fund_in_wallet">
            <ion-row>
              <ion-col size="12">
                <div class="wallet_style_inner mt-45">
                  <ion-icon class="handle_no_fund_icon" name="close-circle-outline"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="12">
                <div class="ion-text-center wallet_text_2">
                  Your have no money in your wallet
                </div>
              </ion-col>
            </ion-row>
          </div> -->

          <div class="has_fund_in_wallet ion-text-center">
            <div class="wallet_fund_title">You have</div>
            <div class="wallet_fund_available_balance">N50,000</div>
            <div class="wallet_fund_available_balance_text2">
              <p>12<span> &nbsp;Shipments</span></p>
              <p class="extra-p" (click)="showFundModal()">Fund</p>
              <p (click)="showTrackModal()">Track</p>
            </div>
          </div>
        </ion-col>

        <!-- <ion-col size="12">
          <div class="handle_fund_wallet_padd">
            <ion-button
              (click)="fundWallet()"
              class="pawa2_u_action_btn_2 gold"
            >
              Fund wallet
            </ion-button>
          </div>
        </ion-col> -->

        <ion-col size="12">
          <ion-toolbar>
            <ion-segment (ionChange)="segmentChanged($event)">
              <ion-segment-button (click)="switchOrder()">
                <!-- <ion-icon name="camera"></ion-icon> -->
                Orders
              </ion-segment-button>
              <ion-segment-button (click)="switchWallet()">
                <!-- <ion-icon name="bookmark"></ion-icon> -->
                Wallet
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>

          <div class="wallet-summary" *ngIf="wallet">
            <div (click)="walletTransaction()" class="wallet_transaction_recrods">
              <div class="the_wallet_item_list ion-activatable ripple-parent">
                <ion-row>
                  <ion-col size="2">
                    <div class="wallet_transaction_ref_date">14 Apr</div>
                  </ion-col>
                  <ion-col size="6">
                    <div class="wallet_transaction_ref_number">#PA-23782393</div>
                    <div class="wallet_transaction_status_text">Successful</div>
                  </ion-col>
                  <ion-col size="4" class="ion-text-right">
                    <div class="wallet_transaction_amount">N10000</div>
                    <div class="wallet_transaction_amount_type_text">Credit</div>
                  </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </div>
  
            <div
              (click)="walletTransaction()"
              class="wallet_transaction_recrods ion-activatable ripple-parent"
            >
              <div class="the_wallet_item_list ion-activatable ripple-parent">
                <ion-row>
                  <ion-col size="2">
                    <div class="wallet_transaction_ref_date">10 Apr</div>
                  </ion-col>
                  <ion-col size="6">
                    <div class="wallet_transaction_ref_number">#PA-23782393</div>
                    <div class="wallet_transaction_status_text">Successful</div>
                  </ion-col>
                  <ion-col size="4" class="ion-text-right">
                    <div class="wallet_transaction_amount">N30000</div>
                    <div class="wallet_transaction_amount_type_text">Credit</div>
                  </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </div>
  
            <div
              (click)="walletTransaction()"
              class="wallet_transaction_recrods ion-activatable ripple-parent"
            >
              <div class="the_wallet_item_list ion-activatable ripple-parent">
                <ion-row>
                  <ion-col size="2">
                    <div class="wallet_transaction_ref_date">14 Apr</div>
                  </ion-col>
                  <ion-col size="6">
                    <div class="wallet_transaction_ref_number">#PA-23782393</div>
                    <div class="wallet_transaction_status_text">Successful</div>
                  </ion-col>
                  <ion-col size="4" class="ion-text-right">
                    <div class="wallet_transaction_amount">N10000</div>
                    <div [ngStyle]="{'color': 'red'}" class="wallet_transaction_amount_type_text">Debit</div>
                  </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </div>
          </div>

          <div class="wallet-summary" *ngIf="order">
            <div (click)="walletTransaction()" class="wallet_transaction_recrods">
              <div class="the_wallet_item_list ion-activatable ripple-parent">
                <ion-row>
                  <ion-col size="2">
                    <div class="wallet_transaction_ref_date">14 Apr</div>
                  </ion-col>
                  <ion-col size="6">
                    <div class="wallet_transaction_ref_number">#PA-23782393</div>
                  </ion-col>
                  <ion-col size="4" class="ion-text-right">
                    <div class="wallet_transaction_amount">N10000</div>
                  </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </div>
  
            <div
              (click)="walletTransaction()"
              class="wallet_transaction_recrods ion-activatable ripple-parent"
            >
              <div class="the_wallet_item_list ion-activatable ripple-parent">
                <ion-row>
                  <ion-col size="2">
                    <div class="wallet_transaction_ref_date">10 Apr</div>
                  </ion-col>
                  <ion-col size="6">
                    <div class="wallet_transaction_ref_number">#PA-23782393</div>
                  </ion-col>
                  <ion-col size="4" class="ion-text-right">
                    <div class="wallet_transaction_amount">N30000</div>
                  </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </div>
  
            <div
              (click)="walletTransaction()"
              class="wallet_transaction_recrods ion-activatable ripple-parent"
            >
              <div class="the_wallet_item_list ion-activatable ripple-parent">
                <ion-row>
                  <ion-col size="2">
                    <div class="wallet_transaction_ref_date">14 Apr</div>
                  </ion-col>
                  <ion-col size="6">
                    <div class="wallet_transaction_ref_number">#PA-23782393</div>
                  </ion-col>
                  <ion-col size="4" class="ion-text-right">
                    <div class="wallet_transaction_amount">N10000</div>
                  </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
