ion-button.pawa2_u_action_btn_2 {
  width: 100%;
  --background: #0a1857;
  text-transform: capitalize;
  --padding-top: 19px;
  --padding-bottom: 19px;
}

ion-button.gold {
  --background: #ffa500;
}

.wallet_style_inner ion-icon {
  font-size: 91px;
  color: #707070;
}

.ion-text-center.wallet_text_2 {
  font-size: 12px;
  margin-top: 20px;
}

.wallet_style_inner {
  text-align: center;
}

.handle_fund_wallet_padd {
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 50px;
}

.fund_histroy {
  margin-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  color: #707070;
  font-weight: 400;
}

.wallet_transaction_ref_date {
  font-size: 14px;
  text-align: center;
  color: #a19f9f;
}

.wallet_transaction_ref_number {
  font-size: 14px;
  color: #707070;
  margin-bottom: 5px;
  margin-left: 20px;
}

.wallet_transaction_status_text {
  font-size: 11px;
  color: #0a1857;
  margin-left: 20px;
}

.wallet_transaction_amount {
  font-size: 15px;
  color: #707070;
  margin-bottom: 5px;
}

.wallet_transaction_amount_type_text {
  font-size: 11px;
  color: #07594b;
  font-weight: 500;
}

.the_wallet_item_list {
  padding: 10px 15px;
  //   border: 1px solid #eae7e7;
  position: relative;
  overflow: hidden;
  //   background: #fff;
  border-radius: 3px;
  margin-bottom: 5px;
}

.has_fund_in_wallet.ion-text-center {
  margin-top: 50px;
}

.wallet_fund_title {
  font-size: 14px;
  color: #ebebeb;
  margin-bottom: 10px;
}

.wallet_fund_available_balance {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: 500;
}

.wallet_fund_available_balance_text2 {
  display: flex;
  font-size: 12px;
  color: #f8f5f5;
  margin-bottom: 30px;
  justify-content: center;
}

.wallet_fund_available_balance_text2 p {
  background-color: #f19e04;
  padding: 17px;
}

.extra-p {
  border-left: 1px solid #db8e0a;
  border-right: 1px solid #db8e0a;
}

.has_fund_in_wallet.ion-text-center {
  margin-top: -10px;
  width: 110%;
  padding: 40px;
  color: #fff;
  margin-left: -10px;
  background-color: orange;
}

.wallet-summary {
  background-color: #fff;
  margin: 10px;
  margin-top: -2px;

}

ion-toolbar{
  margin-top: -60px;
  width: 95%;
  margin-left: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

ion-segment-button {
  --background: none !important;
  --color: #f19e04;
  --color-checked: #f19e04;
    --border-radius: 10px !important;
}

.wallet_transaction_status {
  font-size:12px;
  color: #d4921e;
  text-decoration: underline;
  cursor: pointer;
}

.wallet_transaction_status2 {
  font-size:12px;
  color: #8a0404;
  text-decoration: underline;
  cursor: pointer;
}