.handle_modal_network_error {
    text-align: center;
    width: 100%;
}

.small_footer_note {
    font-size: 14px;
    margin-bottom: 80px;
}

.handle_modal_network_error img {
    width: 100px;
    height: 100px;
}