<app-header-two [title]="'About'"></app-header-two>

<ion-content class="ion-padding gray_background_2">
  <div class="content_padded">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="control_big_logo">
            <img src="../../../../assets/images/macriders/macreider_logo.png">
          </div>
        </ion-col>

        <ion-col size="12">
          <div class="control_list_div">

            <ion-list lines="none" class="the_list_stage">
              <ion-item>
                <ion-label slot="start" class="ion-label-style-text">markriders</ion-label>
                <ion-label class="first_label" slot="end">
                  <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
                </ion-label>
              </ion-item>
            </ion-list>

            <ion-list lines="none" class="the_list_stage">
              <ion-item>
                <ion-label slot="start" class="ion-label-style-text">Frequently asked questions</ion-label>
                <ion-label class="first_label" slot="end">
                  <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
                </ion-label>
              </ion-item>
            </ion-list>


            <ion-list lines="none" class="the_list_stage">
              <ion-item>
                <ion-label slot="start" class="ion-label-style-text">Terms and Conditions</ion-label>
                <ion-label class="first_label" slot="end">
                  <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
                </ion-label>
              </ion-item>
            </ion-list>

            <div class="small_footer_note mt-45 ion-text-center">
              App version 1.0
            </div>

          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>