
<ion-header class="paw2_login_header_ctr">
  <ion-toolbar>
      <div class="control_login_logo">
        <img src="../../../assets/images/macriders/macreider_logo.png">
      </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="mt-100">
    <ion-card-content>
      <ion-button (click)="gotouserSignup()" expand="block" size="large" class="pawa2u_btn btn_capitalize thin_font_weight small_sized_btn">
        User Sign Up
      </ion-button>   
      <ion-button (click)="gotoriderSignup()" expand="block" size="large" class="pawa2u_btn btn_capitalize thin_font_weight small_sized_btn mt-30">
       Riders
      </ion-button>   
      </ion-card-content>
  </div>
    
</ion-content>