ion-button.pawa2_u_action_btn_2 {

    width: 100%;
    --background: #0A1857;
    text-transform: capitalize;
    --padding-top: 19px;
    --padding-bottom: 19px;
}

ion-button.gold{
    --background: #dac67b;
}

.wallet_style_inner ion-icon {
    font-size: 91px;
    color: #707070;
}

.ion-text-center.wallet_text_2 {
    font-size: 12px;
    margin-top: 20px;
}

.wallet_style_inner {
    text-align: center;
}

.handle_fund_wallet_padd {
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 50px;
}

.fund_histroy {
    margin-bottom: 10px;
    font-size: 11px;
    text-transform: uppercase;
    color: #707070;
    font-weight: 400;
}

.wallet_transaction_ref_date {
    font-size: 14px;
    text-align: center;
    color: #707070;
}

.wallet_transaction_ref_number {
    font-size: 14px;
    color: #707070;
    margin-bottom: 5px;
    margin-left: 20px;
}

.wallet_transaction_status_text {
    font-size: 11px;
    color: #0A1857;
    margin-left: 20px;
}

.wallet_transaction_amount {
    font-size: 15px;
    color: #707070;
    margin-bottom: 5px;
}

.wallet_transaction_amount_type_text {
    font-size: 11px;
    color: #07594B;
}

.the_wallet_item_list {
    padding: 10px 15px;
    border: 1px solid #eae7e7;
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 5px;
}

.has_fund_in_wallet.ion-text-center {

    margin-top: 50px;

}

.wallet_fund_title {

    font-size: 19px;
    color: #707070;
    margin-bottom: 10px;
}

.wallet_fund_available_balance {

    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 500;

}

.wallet_fund_available_balance_text2 {

    font-size: 12px;
    color: #707070;
    margin-bottom: 30px;

}

.has_fund_in_wallet.ion-text-center {

    margin-top: 70px;
    margin-bottom: 40px;

}

.category_list_style_inner_bg {
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.category_list_style_name {
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 120px;
    font-weight: 400;
    color: #fff;
}

.category_list_style_inner {
    position: relative;
}

a.category_list_style_inner{
    display: block;
}

ion-grid {

    padding: 0;

}
.mark-drop-down{
    background-color: white;
    color: black !important;
}
.compliment{
    font-style: italic;
    font-size: .8rem;
    color: black;
}
.item-highlight, .item-inner-highlight{
    color: #ffa500;
}
.mark-carriers{
    border-radius: 50%;
    background: #ffa500;
    cursor: pointer;
}
.mark-carriers:hover{
    background-color: #2dd36f;
}
.not-available{
    color: darkgrey;
}
.icon-add{
    background-color:#ffa500 ;
}
.add-address{
    color: #ffa500;
}
