<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="pawa2_transparent_header">
        Password Reset
      </div>
    </ion-title>
  </ion-toolbar>
  <!-- <div class="small_ribbon"></div> -->
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion_card_style">
    <ion-card-content>
      <div class="page-note">
        Reset your password by entering your new password.
      </div>
      <!-- <ion-item> -->
        <!-- <ion-icon name="mail-outline" slot="start"></ion-icon> -->
        <!-- <ion-label position="floating">Email</ion-label> -->
        <input type="password" placeholder="Enter New Password" [(ngModel)]="newPassword"/>
        <ion-input [(ngModel)]="email"></ion-input>
      <!-- </ion-item> -->
      <ion-button expand="block" size="large" (click)="resetPassword()" class="pawa2u_btn btn_capitalize thin_font_weight small_sized_btn">
        Reset Password
      </ion-button>    
    </ion-card-content>
  </div>
</ion-content>

