
ion-item {

    // border: 1px solid #C8C8C8;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 12px;
    color: #707070 !important;
    padding-top: 0px;
    padding-bottom: 0 !important;
    height: 54px;
    --highlight-height: 0;

}

ion-header {
    &.header-md:after {
      background: none;
    }
  }

  .small_ribbon {
    background: #DAC67B;
    height: 40px;
    width: 100%;
}


.pawa2_transparent_header {

  margin-left: -15%;
  color: #000;
  font-weight: 400;
  font-size: 16px;

}

.page-note {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  margin-bottom: 50px;
  color: #707070;
  font-weight: 400;
}

ion-back-button {
  color: #707070;
}

ion-input {
  border: none;
}
input {
  padding: 12px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 50px;
}