
.wallet_style_inner ion-icon {
    font-size: 91px;
    color: #707070;
}

.ion-text-center.wallet_text_2 {
    font-size: 12px;
    margin-top: 20px;
}

.wallet_style_inner {
    text-align: center;
}

.handle_fund_wallet_padd {
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 50px;
}

.fund_histroy {
    margin-bottom: 10px;
    font-size: 11px;
    text-transform: uppercase;
    color: #707070;
    font-weight: 400;
}

.wallet_transaction_ref_date {
    font-size: 14px;
    text-align: left;
    color: #707070;
    font-weight: 500;
    margin-bottom: 10px;
}

.wallet_transaction_ref_number {
    font-size: 14px;
    color: #707070;
    margin-bottom: 5px;
    font-weight: 500;
}

.wallet_transaction_status_text {
    font-size: 11px;
    color: #0A1857;
}

.wallet_transaction_amount {
    font-size: 10px;
    color: #b41010;
    margin-bottom: 5px;
    font-weight: 600;
}

.wallet_transaction_amount_type_text {
    font-size: 11px;
    color: #07594B;
}

.the_wallet_item_list {
    padding: 10px 15px;
    // border: 1px solid #eae7e7;
    position: relative;
    overflow: hidden;
    // background: #fff;
    border-radius: 3px;
    margin-bottom: 5px;
}

.has_fund_in_wallet.ion-text-center {

    margin-top: 50px;

}

.wallet_fund_title {

    font-size: 19px;
    color: #707070;
    margin-bottom: 10px;
}

.wallet_fund_available_balance {

    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 500;

}

.wallet_fund_available_balance_text2 {

    font-size: 12px;
    color: #707070;
    margin-bottom: 30px;

}

.has_fund_in_wallet.ion-text-center {

    margin-top: 70px;
    margin-bottom: 40px;

}

.orders_history_title {
    font-size: 15px;
    font-weight: 500;
    background: #EFF0F4;
    padding: 15px 10px;
    text-align: center;
    margin-top: 30px;
}

.wallet_transaction_ref_date_2 {
    font-size: 10px;
    color: #929191;

}

.no_order_to_track_style_inner{

    text-align: center;

}

.no_order_to_track_style_inner ion-icon {

    font-size: 117px;
    margin-bottom: 10px;
    color: #EBEBEB;

}

.no_order_to_track_text_2 {

    font-size: 12px;
    margin-bottom: 20px;
    color: #707070;

}
.mark-carriers {
    border-radius: 50%;
    background: #ffa500;
    cursor: pointer;
    margin-left: 15px;
    width: 60px;
    height: 60px;
  }
  .mark-carriers:hover {
    background-color: #bd7c03;
  }

  .bike-div {
    margin:30px;
    display: flex;
    justify-content: center;
  }

  .in-progress {
      color: rgb(228, 177, 10);
  }

  .delivery {
      color: green;
  }