.small_footer_note_3 {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 30px;
    color: #000;
    font-weight: 400;
}

.small_footer_note_2 {
    text-align: center;
    margin-top: 20px;
    font-size: 11px;
    margin-bottom: 10px;
    color: #707070;
    font-weight: 300;
}

.location_text {
    color: #000;
    font-size: 12px;
    font-weight: 300;
}

ion-icon.location-outline-icon {
    font-size: 29px;
}

ion-icon.location-outline-icon {
    color: #EBEBEB;
}

ion-icon.location-outline-icon.active {
    color: #707070;
}

.handle_address_border {
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.the_address_row_handle{
    // margin-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dotted #eeeded;
    padding-bottom: 10px;
}

.the_address_row_handle:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.header_style_3 {
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    font-size: 13px;
}

.log_out_text {
    margin-bottom: 50px;
    font-size: 12px;
    font-weight: 500;
}

.log_out_text.ion-text-center ion-icon {
    font-size: 20px;
    vertical-align: bottom;
    padding-right: 5px;
}

.display_block{
    display: block;
}