<app-header></app-header>
<ion-content class="ion-padding gray_background">
  <div class="content_padded">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div class="manage_profile_width"
            style="
            background-image: url('../../../assets/images/no-user.png');
            background-position: top;
            background-size: cover;
            "
          >
          <div id="TheImageContents"></div>
          <input type="file" class="file-upload" (change)="onFileChanged($event)">
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="menu_user_meta_name">
            {{user.firstName}}
          </div>
          <div class="menu_user_meta_link" (click)="changePassword()">
            Change Password
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row> 
        <ion-col size="12">
          <form [formGroup]="formData"  (ngSubmit)="onSubmit()">
            <ion-item>
              <!-- <ion-icon name="medical-outline" slot="start"></ion-icon> -->
              <ion-label position="floating">First Name</ion-label>
              <ion-input formControlName="firstName"></ion-input>
            </ion-item>
      
            <ion-item>
              <!-- <ion-icon name="medical-outline" slot="start"></ion-icon> -->
              <ion-label position="floating">Last Name</ion-label>
              <ion-input formControlName="lastName"></ion-input>
            </ion-item>
      
            <ion-item>
              <!-- <ion-icon name="mail-unread-outline" slot="start"></ion-icon> -->
              <ion-label position="floating">Email</ion-label>
              <ion-input readonly formControlName="email"></ion-input>
            </ion-item>
      
            <ion-item>
              <!-- <ion-icon name="call-outline" slot="start"></ion-icon> -->
              <ion-label position="floating">Phone Number</ion-label>
              <ion-input formControlName="phoneNumber"></ion-input>
            </ion-item><br>
      
            <!-- <ion-button type="submit" [disabled]="individualFormData.invalid" expand="block" size="large" class="pawa2u_btn">
              <ion-icon fill name="arrow-forward-outline"></ion-icon>
            </ion-button> -->
            <ion-button expand="block" type="submit" size="large" class="pawa2u_btn btn_capitalize thin_font_weight small_sized_btn">
              Update
            </ion-button>   
             </form>
  
        </ion-col>
        <ion-col size="12" class="mt-35">
          <div class="log_out_text ion-text-center" (click) = "logOut()">
            <ion-icon name="power-outline"></ion-icon>
            LOG OUT
          </div>
        </ion-col> 
        <!-- <ion-col size="12">
          <div class="small_footer_note_2">
            Reciept would be sent to this email
          </div>
        
          <div class="ion-text-center">
            <a [routerLink]="['/dashboard/edit-profile']" class="small_footer_note_3 mt-5 the_footer_size2">
              Update your personal data
            </a>
          </div>
          <div class="ion-text-center">
            <a [routerLink]="['/dashboard/edit-profile-rider']" class="small_footer_note_3 mt-5 the_footer_size2">
              Update your personal data Rider
            </a>
          </div>
        </ion-col>

        <ion-col size="12">
          <div class="header_style_3 mt-15">
            Address 
          </div>
        </ion-col>

        <ion-col size="12" class="handle_address_border">
          <ion-row class="the_address_row_handle">
            <ion-col size="2" class="ion-text-center">
              <ion-icon class="location-outline-icon active" name="location-outline"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <div class="location_text">
                21 Ajileye, street, Ilaje road, Shomolu, lagos
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="the_address_row_handle">
            <ion-col size="2" class="ion-text-center">
              <ion-icon class="location-outline-icon" name="location-outline"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <div class="location_text">
                21 Ajileye, street, Ilaje road, Shomolu, lagos
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
        
        <ion-col size="12">
          <div class="ion-text-center">
            <a [routerLink]="['/dashboard/add-address']" class="small_footer_note_3 mt-5 the_footer_size2 display_block">
              Add address
            </a>
          </div>
        </ion-col>
       
        <ion-col size="12" class="mt-35">
          <div class="log_out_text ion-text-center" (click) = "logOut()">
            <ion-icon name="log-out-outline"></ion-icon>
            LOG OUT
          </div>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
