
<ion-content class="ion-no-padding gray_background">
  <div class="orders_history_title">Drop off address list</div>
  <div class="content_padded">
    <ion-grid>
      <ion-row>

        <ion-col size="12">
          <div class="wallet_transaction_recrods">
            <div class="the_wallet_item_list ion-activatable ripple-parent">
              <ion-row>
                <ion-col class="col-pad" size="3">
                  <ion-icon name="location-outline" slot=""></ion-icon>
                </ion-col>
                <ion-col size="6">
                  <div class="wallet_transaction_ref_number">
                   No 10 Ajileye street shomolu Lagos
                  </div>
                </ion-col>
                <ion-col class="col-pad" size="3">
                  <ion-icon (click)="trash()" name="trash" slot=""></ion-icon>
                </ion-col>
              </ion-row>
              <ion-ripple-effect></ion-ripple-effect>

            </div>
           
          </div>

          <div class="wallet_transaction_recrods">
            <div class="the_wallet_item_list ion-activatable ripple-parent">
              <ion-row>
                <ion-col class="col-pad" size="3">
                  <ion-icon  name="location-outline" slot=""></ion-icon>
                </ion-col>
                <ion-col size="6">
                  <div class="wallet_transaction_ref_number">
                   No 10 Ajileye street shomolu Lagos
                  </div>
                </ion-col>
                <ion-col class="col-pad" size="3">
                  <ion-icon (click)="trash()" name="trash" slot=""></ion-icon>
                </ion-col>
              </ion-row>
              <ion-ripple-effect></ion-ripple-effect>

            </div>
           
          </div>
          <div class="wallet_transaction_recrods">
            <div class="the_wallet_item_list ion-activatable ripple-parent">
              <ion-row>
                <ion-col class="col-pad" size="3">
                  <ion-icon  name="location-outline" slot=""></ion-icon>
                </ion-col>
                <ion-col size="6">
                  <div class="wallet_transaction_ref_number">
                   No 10 Ajileye street shomolu Lagos
                  </div>
                </ion-col>
                <ion-col class="col-pad" size="3">
                  <ion-icon (click)="trash()" name="trash" slot=""></ion-icon>
                </ion-col>
              </ion-row>
              <ion-ripple-effect></ion-ripple-effect>

            </div>
           
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>