<ion-content class="ion-padding background_blue">

  <div class="control_success_checkmark_page mt-100">
    <div class="success-checkmark">
      <div class="check-icon">
        <span class="icon-line line-tip"></span>
        <span class="icon-line line-long"></span>
        <div class="icon-circle"></div>
        <div class="icon-fix"></div>
      </div>
    </div>
    <div class="success_iv_number">
      Payment Successful
    </div>
    <div class="success_iv_id">
      Order #{{returnedObj.deliveryNo}}
    </div>

    <div class="ion-text-center mt-45">
      <ion-button (click)="goHome()" class="pawa2_u_action_btn_4">
        Close
      </ion-button>
    </div>


  </div>

</ion-content>