<ion-content>
  <div class="handle_modal_div">
    <div class="handle_modal_padd_inner">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <div class="modal_icon_sm">
              <ion-icon name="location-outline" class="modal_icon_color"></ion-icon>
            </div>
          </ion-col>
          
          <ion-col size="10">
            <div class="modal_icon_sm_text">
              <div class="modal_text_lc">
                Pick up Address
              </div>
              <div class="address-text mb-5">{{itemList.baseLocation.address}}</div>
              <div class="address-text mb-5">{{itemList.pickUpPhone}}</div>
            </div>
          </ion-col>
          <ion-col size="2">
            <div class="modal_icon_sm">
              <ion-icon name="location-outline" class="modal_icon_color"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="10">
            <div class="modal_icon_sm_text">
              <div class="modal_text_lc">
                Delivery Address
              </div>
              <div class="address-text mb-5">{{itemList.targetLocation.address}}</div>
              <div class="address-text mb-5"> {{itemList.dropOffPhone}}</div>
               <!-- <a class="address-link" [routerLink]="['/dashboard/add-address']">View Distance On Map</a> -->
            </div>
          </ion-col>
          <ion-col size="12" class="order-full-fillment_meta"> 
             <ion-row>
              <ion-col size="4">
                  <div class="modal_text_lc">Carrier</div>
              </ion-col>
              <ion-col size="4">
                  <img class="mark-carriers" src="assets/images/macriders/m2.png">
              </ion-col>
              <ion-col size="4">
                <div class="modal_text_lc">{{itemTime}}</div>
            </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="12" class="order-full-fillment_meta">
            <ion-row>
              <ion-col class="mrk-logo" size="3">
                  <img src="assets/images/macriders/mark-riders.jpg">
              </ion-col>
              <ion-col size="9">
                <div class="order_fullfilment_meta_text">
                  Order will be fulfilled by
                </div>
                <div class="order_fullfilment_meta_text_2">
                  Mark Riders
                </div>
                <!-- <div class="order_fullfilment_meta_text_3">
                  Delivery Time: 6Hrs 
                </div> -->
              <!-- </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12" class="ion-text-center">
            <div class="paw2_price_star">
              <bar-rating [rate]="'3'" [max]="'5'"></bar-rating>
            </div>

            <!-- <div class="paw2_price_3">
              TOTAL
            </div>

            <div class="paw2_price_2">
              &#8358;{{returnedObj.totalAmount}}
            </div> -->


            <div class="paw2_u_text">
              <ion-icon name="gift" slot="start" mode="md"></ion-icon>
              {{itemList.pickUpItems}}
            </div>

          </ion-col>
          <ion-button (click)="Proceedayment()" class="pawa2_u_action_btn_2">
            Proceed to Payment
          </ion-button>
        </ion-row>
        </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>     