.order_ff_dialog_inner {
    padding: 70px;
    border-top: 5px solid #DAC67B;
}

.order_ff_dialog_text_2 {
    font-size: 12px;
    margin-top: 20px;
    font-weight: 300;
}


.order_ff_dialog_text_1 {
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}

.order_ff_dialog_inner_action {
    margin-top: 20px;
}