<app-header-two [title]="'Edit Profile'"></app-header-two>

<ion-content class="ion-padding gray_background">
  <div class="content_padded">
    <form [formGroup]="formData" (ngSubmit)="formData.valid && showSuccess()">
      <ion-grid>
        <ion-row>
        <ion-col size="12">
            <div class="accordion">
              <div class="accordion-header">
                  Contact Details
                  <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
              <div class="accordion-content">
                <ion-col size="12">
                  <ion-input class="the_form_input" placeholder="Email" name="email" formControlName="email" value="isaacorah@gmail.com" readonly></ion-input>
                </ion-col>
                <ion-col size="12">
                  <ion-input class="the_form_input" placeholder="First Name" name="firstName" value="Isaac" formControlName="firstName"></ion-input>
                </ion-col>
                
                <ion-col size="12">
                  <ion-input class="the_form_input" placeholder="Last Name" name="lastName" value="Orah" formControlName="lastName"></ion-input>
                </ion-col>
        
                
                <ion-col size="12">
                  <ion-input class="the_form_input" placeholder="Phone Number" name="phone" value="09059949494" formControlName="phone"></ion-input>
                </ion-col>
                <!-- <ion-col size="12">
                  <ion-input type="number" class="the_form_input" placeholder="bvn" name="bvn" value="22222222222" formControlName="bvn"></ion-input>
                </ion-col> -->
                <ion-button [disabled]="formData.invalid" class="pawa2_u_action_btn_2" type="submit">
                  Update Information
                </ion-button>
              </div>
            </div>
        </ion-col>
          
        </ion-row>
      </ion-grid>
    </form>
    <form [formGroup]="guarantorData" (ngSubmit)="formData.valid && showSuccess()">

      <ion-grid>

        <ion-row>

          <ion-col size="12">
            <div class="accordion">
              <div class="accordion-header">
                Guarantor's Information
                  <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
                <div class="accordion-content">
                  <ion-col size="12">
                    <ion-input class="the_form_input" placeholder="First Name" name="GfirstName" value="Isaac" formControlName="GfirstName"></ion-input>
                  </ion-col>
                  
                  <ion-col size="12">
                    <ion-input class="the_form_input" placeholder="Last Name" name="GlastName" value="Orah" formControlName="GlastName"></ion-input>
                  </ion-col>
                  <ion-col size="12">
                    <ion-input class="the_form_input" placeholder="Address" name="Gaddress" value="Orah" formControlName="Gaddress"></ion-input>
                  </ion-col>
                  
                  <ion-col size="12">
                    <ion-input class="the_form_input" placeholder="NIN" name="Gnin" value="22222222222" formControlName="Gnin"></ion-input>
                  </ion-col>
                
                  <ion-button [disabled]="guarantorData.invalid" class="pawa2_u_action_btn_2" type="submit">
                   Submit Information
                  </ion-button>
                </div>
             </div> 
            </ion-col>
          
        </ion-row>
      </ion-grid>
    </form>

    <form [formGroup]="guarantorData" (ngSubmit)="formData.valid && showSuccess()">

      <ion-grid>

        <ion-row>

          <ion-col size="12">
            <div class="accordion">
              <div class="accordion-header">
                Bank Details
                  <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
                <div class="accordion-content">
                  <ion-col size="12">
                    <ion-input class="the_form_input" placeholder="Account Number" name="GfirstName" value="Isaac" formControlName="GfirstName"></ion-input>
                  </ion-col>
                  
                  <ion-col size="12">
                    <ion-input class="the_form_input" placeholder="Bank Name" name="GlastName" value="Orah" formControlName="GlastName"></ion-input>
                  </ion-col>
                  <ion-col size="12">
                    <ion-input class="the_form_input" placeholder="Beneficiary Name" name="Gaddress" value="Orah" formControlName="Gaddress"></ion-input>
                  </ion-col>
                  
                  <ion-col size="12">
                    <ion-input class="the_form_input" placeholder="BVN" name="Gnin" value="22222222222" formControlName="Gnin"></ion-input>
                  </ion-col>
                
                  <ion-button [disabled]="guarantorData.invalid" class="pawa2_u_action_btn_2" type="submit">
                   Submit Information
                  </ion-button>
                </div>
             </div> 
            </ion-col>
          
        </ion-row>
      </ion-grid>
    </form>

    <!-- <form [formGroup]="passwordData" (ngSubmit)="formData.valid && showSuccess()">
      <ion-grid>
        <ion-row>

          <div class="mt-35">
            <ion-row>
              <ion-col size="12">
                <ion-input type="password" placeholder="Current password" name="password" formControlName="password" class="the_form_input"></ion-input>
              </ion-col>
              <ion-col size="12">
                <ion-input type="password" placeholder="New password" name="confirmpassword" formControlName="confirmpassword" class="the_form_input"></ion-input>
              </ion-col>  
  
              <ion-button [disabled]="passwordData.invalid" class="pawa2_u_action_btn_2" type="submit">
                Change Password
              </ion-button>
  
            </ion-row>
          </div>
        </ion-row>
      </ion-grid>
    </form> -->
  </div>
</ion-content>