<app-header-two [title]="'Transfer Payment'"></app-header-two>
<ion-content>

  <!-- <div class="checkout_page_inner_2">

    <ion-row>
      <ion-col size="6">
        <div class="checkout_total_text">
          Wallet Balance :
        </div>
      </ion-col>

      <ion-col size="6" class="ion-text-center">
        <div class="checkout_total_price">
          N 249,000
        </div>
      </ion-col>
    </ion-row>

  </div> -->

  <div class="page-summary">
    <ion-icon class="info-icon" name="information-circle-outline"></ion-icon>
    <p>
      Transfer to the account details provided below and attach the screenshot of your transaction to pay for your delivery.
    </p>
 </div>

  <div class="handle_modal_div">
    <div class="handle_modal_padd_inner">
      <ion-grid>
        <ion-row>
           <ion-col size="12" class="">
              <div class="account-info">
                  <h5>Bank:</h5>
                  <p>Access bank</p>
              </div>
              <div class="account-info">
                <h5>Account No:</h5>
                <p>1516709139</p>
            </div>
            <div class="account-info">
              <h5>Amount:</h5>
              <p> &#8358;{{returnedObj.totalAmount | number}}</p>
          </div>
          <div class="image-upload">
            <ion-icon *ngIf="Image == undefined" name="cloud-upload-outline"></ion-icon>
            <p class="upload-text" *ngIf="Image == undefined">upload the image of your<br> transaction receipt</p>
            <div *ngIf="imageUrl == undefined" id="TheImageContents"></div>
             <img [src]="imageUrl" *ngIf="imageUrl !== undefined" style="width: 70px;">
            <input class="file-upload" type="file" id="upimgfile" *ngIf="Image == undefined" name="uploadfile" (change)="onFileChanged($event)">
            <button *ngIf="Image == undefined">choose file</button>
          </div>

          <!-- <ion-col size="12" class="">
            <div class="paw2_price_3">
              Bank
            </div>

            <div class="paw2_price_2 pad-acct">
              <span class="pad-r">United Bank of Africa (UBA)</span>
            </div>
          </ion-col> -->
<!-- 
          <ion-col size="12" class="ion-text-center">
            <div class="paw2_price_3">
             Account Details
            </div>

            <div class="paw2_price_2 pad-acct">
              <span class="pad-r">4930403040</span>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-text-center">
            <div class="paw2_price_3">
              Transaction Amount
            </div>

            <div class="paw2_price_2 pad-amount">
              N 20,000
            </div> -->
          </ion-col>
          <!-- <ion-col>
            <ion-item>
              <label class="item item-input"> <input class="file-upload" type="file" id="upimgfile" name="uploadfile" ng-model="orderDetails.uploadfile">
              </label>
              <div class="preview-img"> <img id="myImage" width="150" height="150"  size="30" /> </div>
            </ion-item>
          </ion-col> -->
          <ion-button (click)="payForDelivery()" class="pawa2_u_action_btn_2">
          Upload Payment
          </ion-button>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>  