<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="pawa2_transparent_header">
        Rider Sign Up
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion_card_style">
   <div class="page-summary">
      <p>
        Sign up as a Rider to pick up delivery and deliver to clients as scheduled
      </p>
   </div>
    <ion-card-content>
      <form [formGroup]="individualFormData"  (ngSubmit)="submitIndividualForm()">

        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input formControlName="firstName"></ion-input>
        </ion-item>
        <div class="validate_input" *ngIf="i.firstName.touched || i.firstName.invalid && submitted">
          <div *ngIf="i.firstName.errors?.required">First name is required</div>
        </div>

        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input formControlName="lastName"></ion-input>
        </ion-item>
        <div class="validate_input" *ngIf="i.lastName.touched || i.lastName.invalid && submitted">
          <div *ngIf="i.lastName.errors?.required">Last name is required</div>
        </div>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
  
        <div *ngIf="i.email.touched || i.email.invalid && submitted">
          <div class="validate_input" *ngIf="i.email.errors?.required">
            Email is required
          </div>
          <div class="validate_input" *ngIf="i.email.errors?.pattern" >
            Please enter a valid email address
          </div>
        </div>


        <ion-item>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input formControlName="phone"></ion-input>
        </ion-item>
        <div class="validate_input" *ngIf="i.phone.touched || i.phone.invalid && submitted">
          <div *ngIf="i.phone.errors?.required">Phone Number is required</div>
        </div>

        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input formControlName="address"></ion-input>
        </ion-item>
        <div class="validate_input" *ngIf="i.address.touched || i.address.invalid && submitted">
          <div *ngIf="i.address.errors?.required">Address is required</div>
        </div>

        <ion-select interface="popover" placeholder="Select Gender" formControlName="gender"  class="mark-drop-down">
          <ion-select-option [value]=1 >Male</ion-select-option>
          <ion-select-option [value]=2>Female</ion-select-option>
        </ion-select>
        <div class="validate_input" *ngIf="i.gender.touched || i.gender.invalid && submitted">
          <div *ngIf="i.gender.errors?.required">Gender is required</div>
          <div *ngIf="i.gender.errors?.pattern">Gender is required</div>
        </div>

      <ion-select interface="popover" placeholder="Select State" formControlName="state"  class="mark-drop-down">
        <ion-select-option [value]=state.id *ngFor="let state of States" >{{state.name}}</ion-select-option>
      </ion-select>
      <div class="validate_input" *ngIf="i.state.touched || i.state.invalid && submitted">
        <div *ngIf="i.state.errors?.required">State is required</div>
        <div *ngIf="i.state.errors?.pattern">State is required</div>
      </div>
   

      <ion-select interface="popover" placeholder="Select Country" formControlName="country" class="mark-drop-down">
        <ion-select-option [value]=country.id *ngFor="let country of Countries">{{country.name}}</ion-select-option>
      </ion-select>
      <div class="validate_input" *ngIf="i.country.touched || i.country.invalid && submitted">
        <div *ngIf="i.country.errors?.required">Country is required</div>
        <div *ngIf="i.country.errors?.pattern">Country is required</div>
      </div>
          
     

      <ion-item>
        <!-- <ion-icon name="business-outline" slot="start"></ion-icon> -->
        <ion-label position="floating">Rider Card Number</ion-label>
        <ion-input formControlName="riderCardNo"></ion-input>
      </ion-item>
  
      <div class="validate_input" *ngIf="i.riderCardNo.touched || i.riderCardNo.invalid && submitted">
        <div *ngIf="i.riderCardNo.errors?.required">Rider Card No is required</div>
      </div>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validate_input" *ngIf="i.password.touched || i.password.invalid && submitted">
        <div *ngIf="i.password.errors?.required">Password is required</div>
      </div>

      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
      </ion-item>
      <div class="validate_input" *ngIf="i.confirm_password.touched || i.confirm_password.invalid && submitted">
        <div *ngIf="i.confirm_password.errors?.required">Password is required</div>
      </div>


      <div class="small_footer_note">
        By creating an account you agree to our <br>
        Terms of Service and Privacy Policy
      </div>

      <!-- <ion-button type="submit" [disabled]="individualFormData.invalid" expand="block" size="large" class="pawa2u_btn">
        <ion-icon fill name="arrow-forward-outline"></ion-icon>
      </ion-button> -->
      <ion-button expand="block" type="submit" size="large"  class="pawa2u_btn btn_capitalize thin_font_weight small_sized_btn">
        Sign Up
      </ion-button>   
       </form>
    </ion-card-content>

  </div>
</ion-content>