ion-button.pawa2_u_action_btn_2 {

    width: 100%;
    --background: #0A1857;
    text-transform: capitalize;
    --padding-top: 19px;
    --padding-bottom: 19px;
}

ion-button.gold{
    --background: #dac67b;
}

.wallet_style_inner ion-icon {
    font-size: 91px;
    color: #707070;
}

.ion-text-center.wallet_text_2 {
    font-size: 12px;
    margin-top: 20px;
}

.wallet_style_inner {
    text-align: center;
}

.handle_fund_wallet_padd {
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 50px;
}

.fund_histroy {
    margin-bottom: 10px;
    font-size: 11px;
    text-transform: uppercase;
    color: #707070;
    font-weight: 400;
}

.wallet_transaction_ref_date {
    font-size: 14px;
    text-align: center;
    color: #707070;
}

.wallet_transaction_ref_number {
    font-size: 14px;
    color: #707070;
    margin-bottom: 5px;
    margin-left: 20px;
}

.wallet_transaction_status_text {
    font-size: 11px;
    color: #0A1857;
    margin-left: 20px;
   
}

.wallet_transaction_amount {
    font-size: 15px;
    color: #07594B;
    margin-bottom: 5px;
    font-weight: 600;
}

.wallet_transaction_status {
  font-size: 12px;
  color: #dac67b;
  margin-bottom: 5px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.wallet_transaction_status2 {
  font-size: 12px;
  color: #077e6a;
  margin-bottom: 5px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

// .wallet_transaction_amount_type_text {
//     font-size: 11px;
//     color: #07594B;
// }

.the_wallet_item_list {
    padding: 19px 15px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: relative;
    background: #fff;
    margin-bottom: 5px;
    margin-top: -70px;
    overflow: scroll;
}

.has_fund_in_wallet.ion-text-center {

    margin-top: 50px;

}

.wallet_fund_title {
    font-size: 14px;
    color: #643a3a;
    margin-bottom: 10px;
}

.wallet_fund_available_balance {

    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 500;

}

.wallet_fund_available_balance_text2 {

    font-size: 12px;
    color: #707070;
    margin-bottom: 30px;

}

.has_fund_in_wallet.ion-text-center {

    margin-top: 70px;
    margin-bottom: 40px;

}

.category_list_style_inner_bg {
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.category_list_style_name {
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 120px;
    font-weight: 400;
    color: #fff;
}

.category_list_style_inner {
    position: relative;
}

a.category_list_style_inner{
    display: block;
}

ion-grid {
    padding: 0;
}

.mark-drop-down{
    background-color: white;
    color: black !important;
}
.compliment{
    font-style: italic;
    font-size: .8rem;
    color: black;
}
.item-highlight, .item-inner-highlight{
    color: #ffa500;
}
.mark-carriers{
    border-radius: 50%;
    background: #ffa500;
    cursor: pointer;
}
.mark-carriers:hover{
    background-color: #2dd36f;
}
.not-available{
    color: darkgrey;
}
.icon-add{
    background-color:#ffa500 ;
}
.add-address{
    color: #ffa500;
}
.rider-dashboard{
    background: white; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, white, white); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, white, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    &.top {
      font-size: 1.1rem;
      color: green;
      font-weight: 600;
      /*     border: 1px solid white; */
      div {
        label {
          font-weight: 400;
          font-size: 0.9rem;
        }
      }
    }
    h2 {
      padding: 0;
      margin: 0;
      color: #ffa500;
      font-weight: 600;
      width: 100%;
      text-align: left;
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;
      font-size: 1.8rem;
    }
    &:last-child {
      align-items: center;
      ion-label {
        font-size: 1rem;
        color: black;
        label {
          font-weight: 400;
        }
        span {
          font-weight: 600;
        }
      }
      div {
       
        border-radius: 3px;
        padding: 0 5px;
        color: black;
        font-weight: 600;
        span:first-child {
         
          margin-right: 0.3rem;
          font-weight: 400;
        }
      }
    }
  }
  .item-one {
    --padding-start: 0.6rem;
    ion-icon {
      margin-right: 0.6rem;
    }
    ion-button {
      margin-left: 0.6rem;
    }
    ion-label {
      font-size: 0.9rem;
    }
    label {
      &.amount {
        font-weight: 600;
        color: green;
        font-size: 1.2rem;
      }
    }
  }
  
  .wallet_fund_available_balance {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .wallet_fund_available_balance_text2 {
    display: flex;
    font-size: 12px;
    color: #f8f5f5;
    margin-bottom: 30px;
    justify-content: center;
  }
  
  .wallet_fund_available_balance_text2 p {
    background-color: #f19e04;
    padding: 17px;
    font-size: 10px;
  }
  
  .extra-p {
    border-left: 1px solid #db8e0a;
    border-right: 1px solid #db8e0a;
  }
  
  .has_fund_in_wallet.ion-text-center {
    margin-top: -10px;
    width: 110%;
    padding: 40px;
    color: #fff;
    margin-left: -10px;
    background-color: orange;
  }
  .product_item_2_starrate_inner {
    text-align: center;
    width: 100px;
    margin: 0 auto;
    margin-top: -25px;
    color: #ebebeb !important;
}
.bar-rating.the_product_rate .br {
  margin-top: 0 !important;
}
.toggle-div {
  display: flex;
  justify-content: center;
}
.toggle-div h6 {
  margin-top: 10px;
}
.wallet-summary {
  background-color: #fff;
  margin: 10px;
  margin-top: -2px;

}
.wallet_transaction_ref_date {
  font-size: 14px;
  text-align: center;
  color: #a19f9f;
}

.wallet_transaction_ref_number {
  font-size: 14px;
  color: #707070;
  margin-bottom: 5px;
  margin-left: 20px;
}

.wallet_transaction_status_text {
  font-size: 11px;
  color: #0a1857;
  margin-left: 20px;
}

// .wallet_transaction_amount {
//   font-size: 15px;
//   color: #707070;
//   margin-bottom: 5px;
// }

.wallet_transaction_amount_type_text {
  font-size: 11px;
  color: #07594b;
  font-weight: 500;
}

.info {
  color: #07594b;
}

.danger {
  color: #9b0303;
}
#spinner {
  display: none;
}