
<app-header></app-header>
<ion-content class="ion-no-padding gray_background">
  <div class="content_padded">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="has_fund_in_wallet ion-text-center">
            <div class="wallet_fund_title">Rider No: RN-000{{user.riderId}}</div>
            <div class="wallet_fund_available_balance" *ngIf="SalesRecord">&#8358;{{SalesRecord.totalsales}}</div>
            <div class="wallet_fund_available_balance_text2" *ngIf="SalesRecord">
                <p>Yearly <span>Earning</span>&nbsp;{{SalesRecord.totalsales}}</p>
                <p class="extra-p">Weekly <span>Earning</span>&nbsp;{{SalesRecord.weeklysales}}</p>
                <p>Monthly <span>Earning</span>&nbsp;{{SalesRecord.monthlysales}}</p>
            </div>
            <!-- <div class="product_item_2_starrate_inner">
              <bar-rating class="the_product_rate" [rate]="'5'" [max]="'5'"></bar-rating>
            </div> -->

            <!-- <div class="toggle-div">
              <ion-toggle color="light" [ngModel]="theSate" (ngModelChange)="stateChange($event)" [checked]="_bState"></ion-toggle>
              <h6>Go Online</h6>
            </div> -->
      
          </div>
        </ion-col>

        <!-- <ion-col size="12">
          <div class="wallet_transaction_recrods">
            <div class="the_wallet_item_list ion-activatable ripple-parent rider-dashboard">
              <ion-row (click) ="viewDetails()">
                <ion-col>
                  <section class="top">
                    <label>Your Dashbaord</label>
                    <div>
                      <label>Rider No: </label>
                      <span>34059</span>
                    </div>
                  </section>
                  <section class="middle">
                    <h2>{{earnings.toFixed(2) | currency: '₦' }}</h2>
                  </section>
                  <section>
                    <ion-label>
                      <label>Weekly Earnings: </label>
                      <span>{{weeklyEarning.toFixed(2) | currency: '₦' }}</span>
                    </ion-label>
                    <div>
                      <span>
                        Rating
                      </span>
                      <span>
                        {{rate}}
                      </span>
                    </div>
                  </section>
                  
                </ion-col>
              </ion-row>
              <ion-ripple-effect></ion-ripple-effect>

            </div>
            <div class="">
              <div class="the_wallet_item_list ion-activable ripple-parent">
               <ion-row>
                <ion-col>
              
                  <ion-item>
                    <ion-label>Go Online</ion-label>
                    <ion-toggle slot="start" name="banana" color="warning" [ngModel]="theSate" (ngModelChange)="stateChange($event)" [checked]="_bState"></ion-toggle>
                  </ion-item>
                </ion-col>
               </ion-row>
              </div>
            </div>
          </div>

        
        </ion-col> -->

      </ion-row>
      <div class="wallet-summary">
        <div class="wallet_transaction_recrods">
          <div class="the_wallet_item_list ion-activatable ripple-parent">
            <ion-row *ngFor="let delivery of DeliveryList" >
              <ion-col size="2">
                <div class="wallet_transaction_ref_date">
                  <ion-icon name="wallet-outline" slot="start"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="6" (click)="goToItemSelected(delivery)">
                <div class="wallet_transaction_ref_number">{{delivery.deliveries.deliveryNo}}</div>
                <div class="wallet_transaction_status_text">{{delivery.deliveries.dateCreated | date}}</div>
              </ion-col>  
              <ion-col size="4" class="ion-text-right">
                <div class="wallet_transaction_amount">&#8358; {{delivery.deliveries.totalAmount | number}}</div>
                <div class="wallet_transaction_status" *ngIf="delivery.deliverystatus == 'Processing'" (click)="actionPrompt(delivery)">{{delivery.deliverystatus}}</div>
                <div class="wallet_transaction_status2" *ngIf="delivery.deliverystatus == 'Started'" (click)="endeliveryPrompt(delivery)">{{delivery.deliverystatus}}</div>
                <div class="wallet_transaction_status2" *ngIf="delivery.deliverystatus == 'Delivered'">{{delivery.deliverystatus}}</div>
              </ion-col>
            </ion-row><br>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </div>
      </div>


   

      <!-- <ion-list>
        <app-section-header>Recent Deliveries</app-section-header>
        <ion-item class="item-one" lines="none" detail="false">
          <ion-icon name="wallet-outline" slot="start" color="primary"></ion-icon>
          <ion-label>
            <h2>Delivery for the other day</h2>
            <p>07 Jul,2021</p>
          </ion-label>
          <label slot="end" class="amount">
            N5000.00
          </label>
        </ion-item>
        <ion-item class="item-one" lines="none" detail="false">
          <ion-icon name="wallet-outline" slot="start" color="primary"></ion-icon>
          <ion-label>
            <h2>Delivery for the other day</h2>
            <p>07 Jul,2021</p>
          </ion-label>
          <label slot="end" class="amount">
            N5000.00
          </label>
        </ion-item>
        <ion-item class="item-one" lines="none" detail="false">
          <ion-icon name="wallet-outline" slot="start" color="primary"></ion-icon>
          <ion-label>
            <h2>Delivery for the other day</h2>
            <p>07 Jul,2021</p>
          </ion-label>
          <label slot="end" class="amount">
            N5000.00
          </label>
        </ion-item>
      </ion-list> -->
    </ion-grid>
  </div>
</ion-content>
