.product_item_2_header {
    font-size: 21px;
    color: #000;
}

.product_item_2_header_small {
    font-size: 11px;
    color: #07594B;
    margin-top: 20px;;
}

.product_item_2_starrate_text {
    font-size: 12px;
    color: #707070;
    margin-bottom: 20px;
    margin-top: 5px;
}

.product_item_2_description_text {
    color: #707070;
    font-size: 12px;
    margin-bottom: 20px;
}

.product_item_2_description {
    color: #000000;
    font-size: 12px;
    border-bottom: 1px dotted #EBEBEB;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.product_item_2_feedback_content {
    font-size: 12px;
    color: #000;
    margin-bottom: 5px;
}

.product_item_2_feedback_author {
    color: #707070;
    font-size: 12px;
}

ion-button.pawa2_u_action_btn_2 {
    width: 200px;
    --background: #dac67b;
    text-transform: capitalize;
    --padding-top: 20px;
    --padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #07594B;
    font-size: 12px;
}


.padd_buttons_inner {
    text-align: center;
}

.product_item_2_price {
    margin-top: 20px;
    font-weight: 500;
    color: #07594B;
}

.content_padded {
    padding-bottom: 20px;
}

.control_product_signle_two_items {

    padding: 20px;

}