<app-header-two [title]="'Orders'"></app-header-two>

<ion-content class="ion-no-padding gray_background">

  <!-- <div class="orders_history_title">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="orders_histroy_title_left ion-text-left">
            <b>Order:</b> PA-9344
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="orders_history_title_right ion-text-right">
            2020-03-06
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
  <div class="content_padded">
    <ion-grid>
      <ion-row  *ngFor="let item of deliveryObj">
        <ion-col size="12">
          <div (click)="gotoOrderDetails()" class="wallet_transaction_recrods">
            <div class="the_wallet_item_list">
              <ion-row>
                <ion-col size="12">
                  <div class="wallet_transaction_ref_date">
                    Pick-up Address 
                  </div>
                  <div class="wallet_transaction_ref_date_2">
                    {{item.deliveryLocation?.baseAddress}}
                  </div>
                </ion-col>

              </ion-row>
            </div>

            <div class="the_wallet_item_list">
              <ion-row>
                <ion-col size="12">
                  <div class="wallet_transaction_ref_date">
                    Delivered to
                  </div>
                  <div class="wallet_transaction_ref_date_2">
                    {{item.deliveryLocation?.targetAddress}}
                  </div>
                </ion-col>

              </ion-row>
            </div>

          </div>
        </ion-col>

        <ion-col size="12">
          <div class="cart_list_items">
            <ion-list lines="none" class="order_details_item_list">
              <ion-item class="order_details_item_box">
      
                <ion-grid class="checkout_ctr_box">
                  <ion-row>
  
                    <ion-col size="4">
                      <div class="cart_list_item_image" style="
                        background: url('../../../assets//images/macriders/m2.png');
                        width: 80px;
                        height: 80px;
                        border-radius: 5px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                      ">
                      </div>
                    </ion-col>
                    
                    <ion-col size="8">
                      <div class="checkout_item_text_1">
                        {{item?.pickUpItems}}
                      </div>
                      <div class="checkout_item_text_2">
                        to be fulfilled by Mark Riders
                      </div>
                      <!-- <div class="checkout_item_price">
                        N 10,000
                      </div> -->
    
                    </ion-col>
                   
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </div> 
        </ion-col>
      </ion-row>
    
      <ion-list lines="none" class="order_details_item_list">
        <ion-item class="order_details_item_box">
      <ion-grid>
        <ion-row>

          <ion-col size="12" *ngIf="deliveryObj[0]?.deliveryStatus == 'Delivered'" >
            <div class="ion-text-center">
            <div class="order_details_rate_text_2">
                  Dispute Reasons
            </div>
            </div>
            <div class="order_details_rate_object">
              <ion-item class="no-border ion-no-border review_message">
                <ion-textarea [(ngModel)]="disputereason" placeholder="Dispute reasons"></ion-textarea>
              </ion-item><br />
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>
    </ion-item>
    </ion-list>

      <ion-row>
        <ion-col size="12">
          <div class="order_details_rate ion-text-center">
            <div class="order_details_rate_text">
              Rate
            </div>
            <div class="order_details_rate_text_2">
              Mark Riders
            </div>

            <div class="product_item_2_starrate_inner">
              <bar-rating class="the_product_rate" [(ngModel)]="rating" [rate]="'5'" [max]="'5'"></bar-rating>
            </div>

            <div class="order_details_rate_object">
              <ion-item class="no-border ion-no-border review_message">
                <ion-textarea [(ngModel)]="comment"></ion-textarea>
              </ion-item>
            </div>

            <div class="pawa2_u_checkout_btn_actions" *ngIf="deliveryObj[0]?.deliveryStatus !== 'Delivered'">
              <ion-button (click)="completeDelivery()" class="pawa2_u_action_btn_2">
                Submit review
              </ion-button>
            </div>

            <div class="pawa2_u_checkout_btn_actions" *ngIf="deliveryObj[0]?.deliveryStatus == 'Delivered'">
              <ion-button (click)="disputeDelivery()" class="pawa2_u_action_btn_2">
                Submit dispute
              </ion-button>
            </div>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
</ion-content>