
.order_ff_dialog_text_1 {
    margin-top: 40px;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

ion-footer.ion-no-border.no-border.order_fullfillment_ff {
    border-top: 5px solid #DAC67B;
}

.order_ff_dialog_inner {

    margin-top: 50px;
    margin-bottom: 50px;

}